---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const pageTitle = "blog";
---

<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
        <p>在这里，我将分享我的 Astro 学习之旅。</p>
        <ul>
            {
                allPosts.map((post: any) => (
                    <BlogPost url={post.url} title={post.frontmatter.title} />
                ))
            }
        </ul>
    </body>
</html>
